<!--The content below is only a placeholder and can be replaced.-->
<div  [ngStyle]="{ 'background-image': 'url(assets/iplbg.jpg)'}">
  <div style="text-align:center; color: white">
    <h1>
      VOCALINK PREMIER LEAGUE 2019
    </h1>
    <div class="row">
        <div class="col-lg-1">
            <button type="button" class="btn btn-default" (click)="reverseOrder()">Reverse Order</button>
        </div>
      <div class="col-lg-7 anyClass">
        <div style="text-align:center; border-width: 0px; border-style: solid" *ngFor="let position of positions">
          <app-teamdetails [team]="getTeamAtPosition(position + 1)"></app-teamdetails>
        </div>
      </div>
      <div class="col-lg-4">
        <!--<div class="mycard">
            <div class="myrow" style="text-align: center">Match Details</div>
          <div class="myrow">{{cricBuzzResp.matches[0].team1.s_name}} v/s {{cricBuzzResp.matches[0].team2.s_name}}</div>
          <div class="myrow">{{cricBuzzResp.matches[0].header.status}}</div>
          <div *ngIf="cricBuzzResp.matches[0].header.state != 'preview' && cricBuzzResp.matches[0].header.state != 'toss' && cricBuzzResp.matches[0].header.state != 'mom'">
          <div class="myrow">Runs : {{cricBuzzResp.matches[0].bat_team.innings[0].score}}</div>
          <div class="myrow">Wickets : {{cricBuzzResp.matches[0].bat_team.innings[0].wkts}}</div>
          <div class="myrow">Overs : {{cricBuzzResp.matches[0].bat_team.innings[0].overs}}</div>
          <div class="myrow">{{cricBuzzResp.matches[0].batsman[0].name}} : {{cricBuzzResp.matches[0].batsman[0].r}}</div>
          <div *ngIf="cricBuzzResp.matches[0].batsman.length > 1">
          <div class="myrow">{{cricBuzzResp.matches[0].batsman[1].name}} : {{cricBuzzResp.matches[0].batsman[1].r}}</div>
        </div>
        </div>
        </div>-->
      </div>
    </div>
  </div>
</div>